
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
nav{
    background-color: #333;
    padding: 0 20px;
}
.nav-container{
    max-width: 1100px;
    margin: 0 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    list-style: none;
    display: flex;
}
.menu li{
    position: relative;

}
.menu li a{
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px;
}
.menu li :hover{
    background-color:#6a45e2;
    transition: .2s;
    border-radius: 10px;
    
}
.dropbtn{
    position:relative;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 2;
}
.dropdown-content a{
    padding: 12px 16px;
    display: block;
    background-color:#4b1ce3;
    border-radius: 10px;
    margin: 10px;
}
.dropbtn:hover .dropdown-content{
    display: block;
    transition: .2s;
    background-color: transparent;
}
body{
    background-color: #161616;
    margin: 0;
    height: 100vh;
}
html{
    scroll-behavior: smooth;
}
.logo{
    bottom: 150px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    left: 38%;
    top: 100px;
}
hr{
    position: relative;
    top: 100px;
    border: 3px solid #4b1ce3;;
}
h1{
    color: rgb(255, 255, 255);
    margin-top: 100px;
    text-align: center;
    font-size: 70px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color: rgb(255, 255, 255);
    margin-top: 20px;
    position: relative;
    left: 25%;
    font-size: 25px;
    width: 50%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: #4b1ce3;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    left: 42%;
    margin-top: 30px;
}
.btn:hover{
    background-color: #6a45e2;
    transition: .2s;
    transform: scale(98%);
}
.img{
    position: relative;
    left: 35%;
    margin-top: 50px;
    width: 600px;
}
footer {
    background-color: #0f0f0f;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-item {
    max-width: 300px;
}

.footer-item h3 {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

.footer-item ul {
    list-style: none;
    padding: 0;
}

.footer-item li {
    margin-bottom: 8px;
}

.footer-item a {
    text-decoration: none;
    color: #fff;
}

.footer-item a:hover {
    text-decoration: underline;
}